$couleur-principale: rgba(250, 210, 157, 0.89);
$couleur-bleu:rgb(2, 2, 78); 
$couleur-vert:rgb(37, 148, 64);
$couleur-bleu-ciel:rgb(122, 158, 199);
$couleur-orange:rgb(170, 45, 6);
$couleur-grise:rgb(51, 56, 53);
$couleur-texte: #333333;
$couleur-blanche:white;