<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/app.css">
    <title>Document</title>
</head>
<body>
    <section>
        <div class="part_one">
            <h3>Typerface</h3>
            <h1>Gilroy</h1>
            <h3>Color schemes</h3>
        </div>
        <div class="all-cercle-div">
            <div>
                <nav class="cercleONE"></nav>
                <span>5E3EC5</span>
            </div>
            <div>
                <nav class="cercleTWO"></nav>
                <span>5E3EC5</span>
            </div>
            <div>
                <nav class="cercleTREE"></nav>
                <span>5E3EC5</span>
            </div>
            <div>
                <nav class="cercleFOUR"></nav>
                <span>5E3EC5</span>
            </div>
            <div>
                <nav class="cercleFIVE"></nav>
                <span>5E3EC5</span>
            </div>
        </div>
        <div class="all-tools">
            <h3>Tools</h3>
            <div class="tools_cercle_div">
            <div>
                <img src="/sass/vendor/image/icon_id.png" alt="" class="icon_image">
            </div>
            <div>
                <img src="/sass/vendor/image/icon_id.png" alt="" class="icon_image">
            </div>
            <div>
                <img src="/sass/vendor/image/icon_id.png" alt="" class="icon_image">
            </div>
            </div>
        </div>

    </section>
   
</body>
</html>